<div className="d-flex justify-content-center">
    <div class="ui-g-12 ui-md-12">
        <label for="float-input">Username</label><br />
        <input type="text" pInputText [(ngModel)]="login.nome"/>
                      <label for="float-input">Senha</label><br />
           <input type="password" pPassword [(ngModel)]="login.senha"/><br /><br />
       <button pButton type="button" label="Salvar" (click)="autautenticarUserenticar()"></button></div>
    </div>
    <div>
</div>    
        
   
 